body{
	background-color: background: #b7deed; /* Old browsers */
background: -moz-linear-gradient(45deg,  #b7deed 6%, #b7deed 6%, #2eb8ea 18%, #b7deed 34%, #0bafea 55%, #b7deed 67%, #0bafea 82%, #0bafea 82%, #b7deed 92%, #b7deed 92%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #b7deed 6%,#b7deed 6%,#2eb8ea 18%,#b7deed 34%,#0bafea 55%,#b7deed 67%,#0bafea 82%,#0bafea 82%,#b7deed 92%,#b7deed 92%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #b7deed 6%,#b7deed 6%,#2eb8ea 18%,#b7deed 34%,#0bafea 55%,#b7deed 67%,#0bafea 82%,#0bafea 82%,#b7deed 92%,#b7deed 92%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.carousel-item img{
	width: 100;
	height: 100;

}

nav{
	background-color: background: #b7deed; /* Old browsers */
background: -moz-linear-gradient(45deg,  #b7deed 6%, #b7deed 6%, #2eb8ea 18%, #b7deed 34%, #0bafea 55%, #b7deed 67%, #0bafea 82%, #0bafea 82%, #b7deed 92%, #b7deed 92%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #b7deed 6%,#b7deed 6%,#2eb8ea 18%,#b7deed 34%,#0bafea 55%,#b7deed 67%,#0bafea 82%,#0bafea 82%,#b7deed 92%,#b7deed 92%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #b7deed 6%,#b7deed 6%,#2eb8ea 18%,#b7deed 34%,#0bafea 55%,#b7deed 67%,#0bafea 82%,#0bafea 82%,#b7deed 92%,#b7deed 92%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


a{
	color: black!important;
}

section{
	padding: 50px;

}

